<h2 mat-dialog-title>Zmiana hasła</h2>
<mat-dialog-content>
  <div class="row">
    <div class="col">
      <mat-card-title fxFlex class="title"> {{ user?.userName }} </mat-card-title>
    </div>
  </div>
  <form [formGroup]="changePassword">
    <div class="shipping-card">
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput [type]="hideOld ? 'password' : 'text'" formControlName="oldPassword" autocomplete="off"
              placeholder="Obecne hasło" />
            <button mat-icon-button matSuffix (click)="hideOld = !hideOld" [attr.aria-label]="'Ukryj obecne hasło'"
              [attr.aria-pressed]="hideOld" type="button">
              <mat-icon>{{ hideOld ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error *ngIf="
                changePassword.controls['oldPassword'].hasError('required')
              ">
              Wprowadź obecne hasło
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" autocomplete="off"
              placeholder="Nowe hasło" />
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Ukryj hasło'"
              [attr.aria-pressed]="hide" type="button">
              <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error *ngIf="changePassword.controls['password'].hasError('required')">
              Wprowadź hasło
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput [type]="hideNew ? 'password' : 'text'" formControlName="confirmPassword" autocomplete="off"
              placeholder="Potwierdź nowe hasło" />
            <button mat-icon-button matSuffix (click)="hideNew = !hideNew" [attr.aria-label]="'Ukryj hasło'"
              [attr.aria-pressed]="hideNew" type="button">
              <mat-icon>{{ hideNew ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error *ngIf="changePassword.controls['confirmPassword'].hasError('required')">
              Wprowadź hasło
            </mat-error>
            <mat-error *ngIf="changePassword.controls['confirmPassword'].hasError('mustMatch')">
              Nowe hasło i potwierdzenie różnią się
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="cancel()">Anuluj</button>
  <button mat-raised-button color="primary" (click)="submit()" [disabled]="!changePassword.valid">
    Zmień hasło
  </button>
</mat-dialog-actions>