.aluminum-container {
  display: flex;
}

.aluminum-filters {
  display: flex;
  width: 100%;
}

.aluminum-table {
  flex: 1;
}

.aluminum-details {
  flex: 0 1 auto;
}

.container {
  display: flex;
}

.filters {
  display: flex;
  width: 100%;
}

.table {
  flex: 1;
}
/* 
.personnel-lookup {
  flex: 0 1 auto;
} */
