.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  text-align: center;
}

.mat-card-header .mat-card-title{
  font-size: 1.2vw;
}

.dashboard-card-content {
  text-align: center;
  display: inline-block;    
}

img.dictionaries-icon{
    max-width: 8vw ;
    height: 8vw ;
}

.dashboard-card:hover {
  background-color: lightgray;
  cursor: pointer;
}

@media only screen and (max-width: 1350px){
  img.dictionaries-icon{
      display: none;
  }
}