.selection-info-container {
  display: flex;
  padding-left: 15px;
  font-size: 14px;
  margin-bottom: 10px;
}

.selection-info {
    font-weight: 600;
}

.top-div {
    display: flex;
}

.remove-selection-btn {
    color: #005457
}