<h2 mat-dialog-title>Change password</h2>
<mat-dialog-content>
  <mat-card-title fxFlex class="title"> {{email}}
  </mat-card-title>
  <form [formGroup]="editPassword">
    <div class="shipping-card">
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" autocomplete="off"
              placeholder="Password" required />
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide" type="button">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="editPassword.controls['password'].hasError('required')">
              <span [innerHtml]="'passwordRequired' | errorMsgs"></span>
            </mat-error>
            <mat-error *ngIf="editPassword.controls['password'].hasError('minlength')">
              <span [innerHtml]="'minLength' | errorMsgs"></span>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="submit()" [disabled]="!editPassword.valid">
    Save
  </button>
</mat-dialog-actions>