.container {
    max-width: 400px;
    margin-left: 10px;
    margin-right: 10px;
}

.title {
    margin-left: 20px !important;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  width: 150px;
  font-size: 14px !important;

}

.card {
    padding: 0px;
}

.list {
    padding: 0;
}

.actions-button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  margin: auto;
}