.zinc-and-lead-container {
  display: flex;
}

.zinc-and-lead-filters {
  display: flex;
  width: 100%;
}

.zinc-and-lead-table {
  flex: 1;
}

.zinc-and-lead-details {
  flex: 0 1 auto;
}

.container {
  display: flex;
}

.filters {
  display: flex;
  width: 100%;
}

.table {
  flex: 1;
}
/* 
.personnel-lookup {
  flex: 0 1 auto;
} */
