.brass-container {
  display: flex;
}

.brass-filters {
  display: flex;
  width: 100%;
}

.brass-table {
  flex: 1;
}

.brass-details {
  flex: 0 1 auto;
}

.container {
  display: flex;
}

.filters {
  display: flex;
  width: 100%;
}

.table {
  flex: 1;
}
/* 
.personnel-lookup {
  flex: 0 1 auto;
} */
